-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "chi_tiet_phieu_xuat_hang" (
    "ma_phieu_xuat_hang" INTEGER NOT NULL,
    "ma_mat_hang" INTEGER NOT NULL,
    "ma_don_vi_tinh" INTEGER NOT NULL,
    "so_luong" INTEGER NOT NULL,
    "don_gia" DECIMAL(15,2) NOT NULL,
    "thanh_tien" DECIMAL(15,2),

    CONSTRAINT "chi_tiet_phieu_xuat_hang_pkey" PRIMARY KEY ("ma_phieu_xuat_hang","ma_mat_hang","ma_don_vi_tinh")
);

-- CreateTable
CREATE TABLE "don_vi_tinh" (
    "ma_don_vi_tinh" SERIAL NOT NULL,
    "ten_don_vi_tinh" VARCHAR(45) NOT NULL,

    CONSTRAINT "don_vi_tinh_pkey" PRIMARY KEY ("ma_don_vi_tinh")
);

-- CreateTable
CREATE TABLE "ho_so_dai_ly" (
    "ma_dai_ly" SERIAL NOT NULL,
    "ten_dai_ly" VARCHAR(45) NOT NULL,
    "dien_thoai" VARCHAR(15) NOT NULL,
    "dia_chi" VARCHAR(100) NOT NULL,
    "email" VARCHAR(45) NOT NULL,
    "tien_no" DECIMAL(15,2) DEFAULT 0,
    "ma_quan" INTEGER NOT NULL,
    "ma_loai" INTEGER NOT NULL,

    CONSTRAINT "ho_so_dai_ly_pkey" PRIMARY KEY ("ma_dai_ly")
);

-- CreateTable
CREATE TABLE "loai_dai_ly" (
    "ma_loai" SERIAL NOT NULL,
    "ten_loai" VARCHAR(45) NOT NULL,
    "tien_no_toi_da" DECIMAL(15,2) NOT NULL,

    CONSTRAINT "loai_dai_ly_pkey" PRIMARY KEY ("ma_loai")
);

-- CreateTable
CREATE TABLE "mat_hang" (
    "ma_mat_hang" SERIAL NOT NULL,
    "ten_mat_hang" VARCHAR(45) NOT NULL,
    "don_gia" DECIMAL(15,2) NOT NULL,

    CONSTRAINT "mat_hang_pkey" PRIMARY KEY ("ma_mat_hang")
);

-- CreateTable
CREATE TABLE "nhan_vien" (
    "ma_nhan_vien" SERIAL NOT NULL,
    "ten_nhan_vien" VARCHAR(100) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "username" VARCHAR(100) NOT NULL,
    "mat_khau" VARCHAR(255) NOT NULL,
    "vai_tro" VARCHAR(20) DEFAULT 'KeToan',

    CONSTRAINT "nhan_vien_pkey" PRIMARY KEY ("ma_nhan_vien")
);

-- CreateTable
CREATE TABLE "phieu_thu_tien" (
    "ma_phieu_thu" SERIAL NOT NULL,
    "ngay_thu" DATE NOT NULL DEFAULT CURRENT_DATE,
    "so_tien_thu" DECIMAL(15,2) NOT NULL,
    "ma_dai_ly" INTEGER NOT NULL,
    "ma_nhan_vien" INTEGER NOT NULL,

    CONSTRAINT "phieu_thu_tien_pkey" PRIMARY KEY ("ma_phieu_thu")
);

-- CreateTable
CREATE TABLE "phieu_xuat_hang" (
    "ma_phieu_xuat_hang" SERIAL NOT NULL,
    "ngay_lap_phieu" DATE NOT NULL DEFAULT CURRENT_DATE,
    "ma_dai_ly" INTEGER NOT NULL,
    "tong_tien_phieu_xuat_hang" DECIMAL(15,2) DEFAULT 0,
    "ma_nhan_vien" INTEGER NOT NULL,

    CONSTRAINT "phieu_xuat_hang_pkey" PRIMARY KEY ("ma_phieu_xuat_hang")
);

-- CreateTable
CREATE TABLE "quan" (
    "ma_quan" SERIAL NOT NULL,
    "ten_quan" VARCHAR(45) NOT NULL,
    "so_dai_ly_toi_da" INTEGER NOT NULL DEFAULT 4,

    CONSTRAINT "quan_pkey" PRIMARY KEY ("ma_quan")
);

-- CreateIndex
CREATE UNIQUE INDEX "don_vi_tinh_ten_don_vi_tinh_key" ON "don_vi_tinh"("ten_don_vi_tinh");

-- CreateIndex
CREATE UNIQUE INDEX "ho_so_dai_ly_email_key" ON "ho_so_dai_ly"("email");

-- CreateIndex
CREATE UNIQUE INDEX "loai_dai_ly_ten_loai_key" ON "loai_dai_ly"("ten_loai");

-- CreateIndex
CREATE UNIQUE INDEX "mat_hang_ten_mat_hang_key" ON "mat_hang"("ten_mat_hang");

-- CreateIndex
CREATE UNIQUE INDEX "nhan_vien_email_key" ON "nhan_vien"("email");

-- CreateIndex
CREATE UNIQUE INDEX "nhan_vien_username_key" ON "nhan_vien"("username");

-- CreateIndex
CREATE UNIQUE INDEX "quan_ten_quan_key" ON "quan"("ten_quan");

-- AddForeignKey
ALTER TABLE "chi_tiet_phieu_xuat_hang" ADD CONSTRAINT "chi_tiet_phieu_xuat_hang_ma_don_vi_tinh_fkey" FOREIGN KEY ("ma_don_vi_tinh") REFERENCES "don_vi_tinh"("ma_don_vi_tinh") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "chi_tiet_phieu_xuat_hang" ADD CONSTRAINT "chi_tiet_phieu_xuat_hang_ma_mat_hang_fkey" FOREIGN KEY ("ma_mat_hang") REFERENCES "mat_hang"("ma_mat_hang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "chi_tiet_phieu_xuat_hang" ADD CONSTRAINT "chi_tiet_phieu_xuat_hang_ma_phieu_xuat_hang_fkey" FOREIGN KEY ("ma_phieu_xuat_hang") REFERENCES "phieu_xuat_hang"("ma_phieu_xuat_hang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ho_so_dai_ly" ADD CONSTRAINT "ho_so_dai_ly_ma_loai_fkey" FOREIGN KEY ("ma_loai") REFERENCES "loai_dai_ly"("ma_loai") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ho_so_dai_ly" ADD CONSTRAINT "ho_so_dai_ly_ma_quan_fkey" FOREIGN KEY ("ma_quan") REFERENCES "quan"("ma_quan") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phieu_thu_tien" ADD CONSTRAINT "phieu_thu_tien_ma_dai_ly_fkey" FOREIGN KEY ("ma_dai_ly") REFERENCES "ho_so_dai_ly"("ma_dai_ly") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phieu_thu_tien" ADD CONSTRAINT "phieu_thu_tien_ma_nhan_vien_fkey" FOREIGN KEY ("ma_nhan_vien") REFERENCES "nhan_vien"("ma_nhan_vien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phieu_xuat_hang" ADD CONSTRAINT "phieu_xuat_hang_ma_dai_ly_fkey" FOREIGN KEY ("ma_dai_ly") REFERENCES "ho_so_dai_ly"("ma_dai_ly") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phieu_xuat_hang" ADD CONSTRAINT "phieu_xuat_hang_ma_nhan_vien_fkey" FOREIGN KEY ("ma_nhan_vien") REFERENCES "nhan_vien"("ma_nhan_vien") ON DELETE NO ACTION ON UPDATE NO ACTION;

